{%extends "main.html"%}
{%block about%}
<div id  = "phones_container">
<div class = "about_list">
<div class = "col-lg-8">
    <ul class="list-group " >
  <li class="list-group-item list-group-item-info"  style = "color:black;">Для придбання товарів в нашому інтернет-магазині Вам необхідно напроти обраного товару клікнути на кнопку "додати в кошик", "в кошику товарів" на кнопку "оформити". Для успішної реєстрації Вашого замовлення обов'язковими умовами є заповнення всіх полів в формі фіксування даних замовника.</li>
  <li class="list-group-item list-group-item-info"  style = "color:black;">У РАЗІ ВИЯВЛЕННЯ ДЕФЕКТУ при прийманні замовленого товару, ви можете відмовитися від оплати товару. При виявленні прихованого дефекту протягом гарантійного терміну - 14 днів, заміна товару після дослідження характеру дефекту і встановлення непричетність замовника до виникнення дефекту, здійснюється за рахунок інтернет-магазину.</li>
  <li class="list-group-item list-group-item-info"  style = "color:black;">У разі відмови від товару протягом 14 днів з інших причин, не пов'язаних з дефектом, оплата повернення товару проводиться покупцем.</li>
</ul>
</div>
</div>
</div>
{%endblock%}