{%extends "main.html"%}
{%block contacts%}
<div id = "phones_container">
<div class  = "col-sm-4 contact">
    
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.6184699600428!2d30.44899796014016!3d50.44953214574164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc266573fc55%3A0x77ffc229f03c8b5a!2z0JrQvtCy0LDQu9GM0YHRjNC60LjQuSDQv9GA0L7QstGD0LvQvtC6LCA1LCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1481907371448" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    </div>
    

<div class = "col-xs-4 .col-md-4 pull-right contact_number">
 <ul class="list-group ">
     <li class="list-group-item list-group-item-info"  style = "color:black;">Контактний номер :+38 (063) 785-9429(Антон)</li>
     <li class="list-group-item list-group-item-info"  style = "color:black;">Офіс розташований за адресою:<br> м.Київ     пров.Ковальский 5А</li>
    
    </ul>
</div>
    </div>
{%endblock%}