{%extends 'main.html' %}
{%block zakaz%}

<div class = "col-sm-9 " id = "phones_container">
{% for i in user.phones.all %}

 <div class = "col-sm-4 phone_container " id = "phone_{{i.id}}">
                <div class = "thumbnail">
                    <img src = "{{i.image.url}}" alt = ""  class = "img-responsive" id = "content_image">
                    <div class = "caption">
                        <h3>Виробник:{{i.title}}</h3>
<!--                        <p style="word-wrap:break-word;">{{i.desc}}</p>s-->
                            <p>Ціна $: {{i.price}}</p>
                            <p>Рейтинг:{{i.rate}}</p>
                            <p>Дата виходу:{{i.date}}</p>
                        <a href  = "/phones_view/get/{{i.id}}" class = "btn btn-success">Деталі</a>
                        <button class = "btn btn-danger pull-right deletePhone" value = {{i.id}}><i class = "glyphicon glyphicon-remove "></i></button>
                        <button class = "btn btn-info" data-toggle = "modal" data-target = "#forma">Оформити</button>
                        </div>
                        <div class = "modal fade" id = "forma" role = "dialog" style = "color:black;">
                        <div class = "modal-dialog">
                            <div class = "modal-content">
                                <div class = "modal-header"><h1>Оформленя товару</h1>
                                <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
                                </div>
                             <div class="modal-body" >
                 <form class="form-signin">
       

        <div class="large-offset-3 large-6 columns">
        <div class="form-group">
        <label>Ім`я:</label>
        <input style = "width:40%;" type="text" class="form-control" >
            </div>
           
<div class="form-group">
  <label for="pwd">Прізвище:</label>
  <input style = "width:40%;" type="text" class="form-control" id="pwd">
</div>
              <div class="form-group">
                  <label>Номер телефону</label>
            <input style = "width:40%;" type="text" class="input-medium bfh-phone form-control" data-format = "+380 (dd) ddd-dddd">
            </div>
                  
            
                           <h3>Спосіб оплати</h3>
<div class="radio">
  <label><input type="radio" name="optradio">Безготівковий розрахунок</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Накладний платіж</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Передоплата</label>
</div>

  
            <div class="form-group">
  <label for="sel1">Місто доставки:</label>
  <select class="form-control" id="sel1">
    <option>Київ</option>
    <option>Харьків</option>
    <option>Одеса</option>
    <option>Миколаїв</option>
    <option>Суми</option>
    <option>Запоріжжя</option>
    <option>Чернігів</option>
    <option>Дніпропетровськ</option>
    <option>Жовті води</option>
    <option>Львів</option>
  </select>
</div>
            
                <h3>Спосіб доставки:</h3>
<div class="radio">
  <label><input type="radio" name="optradio">Нова пошта</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">УкрПошта</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Самовивіз</label>
</div>
            
            <h3>Особливі побажання</h3>
<form class="form-post" role="form" method="post">
<textarea style = "width:50%;" class="form-control" rows="2" placeholder="Залиште побажання" required name="text"></textarea>
      <button class="btn pull-right btn-success zakaz" type="submit">Відправити</button>
</form>

        
             </div>
                       
      </form>
           
            

                                </div>
                            
                            </div>
                </div>
                    </div>
     </div>
    </div>


{%endfor%}
</div>

{%endblock%}

